html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

h2{
    font-size: 2rem;
}

/* layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  background-color: #000000;
}

main {
  grid-area: main;
}

footer {
  background-color: #000000;
  color: #ffffff;
  grid-area: footer;
}

/* common */

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/* header */

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header a{
    color: #ffffff;
    padding: 1rem;
}

a.brand{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.row.center{
    justify-content: center;
}

/* footer */

/* card */
.card{
    border-radius: 0.5rem;
    border: #c0c0c0 0.1rem solid;
    background-color: #f8f8f8;
    margin: 1rem;
    
}
.card-body{
    padding: 1rem;
    
}
.card-body>*{
    margin-bottom: 0.5rem;

}


/* img */
img{
    border-radius: 0.5rem;
}

img.medium{
    max-width: 29rem;
    width: 100%;
}

img.small{
  max-width: 19rem;
  width: 100%;
}

.price{
    font-size: 2rem;
}

p.description{
  max-width: 15rem;
  width: 100%;
  color: #808080;
}

p.quantityLeft{
  font-style: italic;
}